.avatar-self {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    object-fit: cover;
}

:host ::ng-deep.ng-select-typeahead {
    width: 250px;
    margin-right: 10px;
}

:host ::ng-deep.ng-select .ng-select-container {
    height: 38px;
    border: 1px solid #0d6efd;
    border-radius: 7px;
}