<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link active" aria-current="page" [routerLink]="'/dashboard'">Feeds</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link active" aria-current="page" [routerLink]="'/users'">Users</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <ng-select 
                    *ngIf="isAuthenticated"
                    [items]="results"
                    bindLabel="username"
                    [addTag]="false"
                    [multiple]="false"
                    [hideSelected]="true"
                    [minTermLength]="3"
                    [loading]="false"
                    [virtualScroll]="true"
                    placeholder="Search"
                    typeToSearchText="Please enter 3 or more characters"
                    [typeahead]="inputValue"
                    [(ngModel)]="selectedUser"
                    name="user"
                    (input)="onInput($event)"
                    (change)="onChangeModel()">
                </ng-select>

                <img *ngIf="isAuthenticated" title="View your profile" (click)="viewProfile()" src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper.png" class="avatar-self" alt="">
                <button *ngIf="isAuthenticated" class="btn btn-outline-primary me-3" (click)="onLogout()" type="button">Logout</button>
                <button *ngIf="!isAuthenticated" class="btn btn-outline-primary me-3" [routerLink]="'/auth/registration'" type="button">Registration</button>
                <button *ngIf="!isAuthenticated" class="btn btn-outline-primary" [routerLink]="'/auth/login'" type="button">Login</button>
            </form>
        </div>
    </div>
</nav>