.no-tweet {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    margin: 100px 0;
}
.pagination-nav{
    float: right;
    margin-right: 20px;
}

a:visited, a:focus { 
    outline: none !important;
    box-shadow: none !important;
}